@import url('https://fonts.googleapis.com/css?family=Lato:400,700i|Montserrat:700|Titillium+Web:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@font-face {
  font-family:"Socialico";
  src:url("font/Socialico.eot?") format("eot"),
  url("font/Socialico.woff") format("woff"),
  url("font/Socialico.ttf") format("truetype"),
  url("font/Socialico.svg#Socialico") format("svg");
  font-weight:normal;font-style:normal;}
.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1440px;margin: 0 auto;text-align: center;font-family: "Titillium Web"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 960px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }
.socialMed{font-family: "Socialico"}
/*button*/
.btn {font-size: 16px;font-weight: 700;color: #fff;display: inline-block;padding: 8px 20px;background: #041690;border: 1px solid #0524FA;transition: all 0.5s ease;}
.btn2 {font-size: 16px;font-weight: 700;color: #fff;display: inline-block;padding: 8px 20px;background: #000000;border: 1px solid #ffffff;transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}
.btn2:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-size: 57px;font-weight: 600;color:#041690;}
/*header*/
#header {position: relative;max-width: 1440px; margin: 0 auto;}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0}
#header nav ul li {display: inline-block;vertical-align: middle;padding: 22px 39px;}
#header nav ul li:nth-child(1) {padding-left: 0;}
#header nav ul li:nth-child(7){padding-right: 0;}
#header nav ul li a {font-family: "Titillium Web"; font-weight: bold;font-size: 16px; color: #fff;}
#header nav ul li.active-menu a, #header nav ul li a:hover {color:#fff;}
.hdTop{text-align: right; max-width: 1440px; width: 100%;margin: 0 auto;background: url(../images/common/hdTopBg.jpg)no-repeat center top; background-size: 100% 100%; padding: 1.5px 0;}
.hdTop:before{content:""; width: 50%; height: 32px;position: absolute; top: 0;left: 0;background: #000;z-index: -1;}
.hdTop:after{content:""; width: 50%; height: 32px;position: absolute; top: 0;right: 0;background: #041690;z-index: -1;}
.hdTop p, .hdTop a{display: inline-block;vertical-align: middle;margin: 0 auto;color: #fff;}
.hdTop p{font-size: 14px; font-family: "LATO"; margin-right: 10px;}
.hdTop a{font-size: 29px;margin-left: 15px; margin-right: -12px;position: relative;z-index: 9999}

.hdMid{position: relative;margin-top: -35px;z-index: 999}
.hdMid .inb{display: inline-block;vertical-align: middle;}
.hdMidLeft{width: 43%;margin-left: -29px;}
.hdMid .aln{margin-top: 41px;}
.hdMidMid{text-align: center;width: 30%;margin-left: 59px;}
.hdMidMid p{font-family: "Lato"; font-style: italic;font-weight: bold;font-size: 30px; color: #041590;}
.hdMidMid p span{display: block;font-family: "Titillium Web"; font-size: 18px; color: #000000;font-weight: 600;font-style: normal;}
.hdMidRight{width: 20%; text-align: center;border-left: 1px solid #DDDDDD;min-height: 80px;}
.hdMidRight p.title{font-family: "Lato"; font-weight: 400;font-size: 14px; color: #041590;}
.hdMidRight p.title, .hdMidRight img{margin: 18px auto 0;}
.hdMidRight p.phone{font-family: "Titillium Web"; font-size: 24px; font-weight: 700; color: #041490;margin: 0 auto;}

.hdBot{background: #041690}
/*banner*/
#banner {max-width: 1440px;margin: 0 auto;}
.bannerTop{background: url(../images/common/banner.jpg)no-repeat center top; background-size: cover;text-align: center;padding: 233px 0;}
.bannerTop p{font-family: "Righteous"; font-size: 66px; color: #fff; position: relative;text-shadow: 0 0 15px #000}
.bannerTop p span{display: block;}
.bannerTop p::before{content: ""; width: 137px; height: 12px;background: #041690; position: absolute; top: -30px;left: 50%;transform: translateX(-50%);}
.bannerBot{position: relative;width: 100%;margin: 0 auto;background: url(../images/common/bannerBotBg.jpg)no-repeat center top; background-size: 1440px 100%; padding: 45px 0 100px;}
.bannerBot:before{content:""; width: 80%; height: 100%;position: absolute; top: 0;left: 0;background: #041690;z-index: -1;}
.bannerBot:after{content:""; width: 20%; height: 100%;position: absolute; top: 0;right: 0;background: #000;z-index: -1;}
.bannerBot p{color: #fff;margin: 0 auto;}
.bnBotLeft {position: relative;max-width: 650px;width: 100%;display: inline-block;vertical-align: top;}
.bnBotLeft p{position: relative;text-align: left; font-size: 18px;margin-left: 32px;}
.bnBotLeft p::before{content: '';clip-path: polygon(0 0, 0% 100%, 100% 50%);width: 25px;height: 78px;position: absolute;top: 0;left: -35px;background:#fff;}
.bnBotRight {max-width: 300px; width: 100%;display: inline-block;vertical-align: top;}
.bnBotRight p {font-weight: bold;font-size: 22px}
/*content*/
#content {}
#welcome-section{background: url(../images/content/bg1.jpg)no-repeat center top; background-size: 1440px 100%;padding-bottom: 60px;}
#welcome-section .row{max-width: 1010px}
.wlc-panel {position: relative;background: url(../images/content/wlcBg.png)no-repeat center top; background-size: 100%; padding: 50px 0 0;margin-top: -50px;z-index: 1}
.wlc-panel .inb{display: inline-block;vertical-align: top;}
.wlcLeft {max-width: 325px; width: 100%; margin: 0 0 0 15px;text-align: left;}
.wlcLeft h3{color: #041590; font-weight: bold;font-size: 20px}
.wlcLeft ul {padding: 0 0 0 30px; margin: 0;}
.wlcLeft ul li{font-size: 18px; list-style-type: square;line-height: 32px}
.wlcRight {position: relative;max-width: 600px; width: 100%;margin: 0 auto;}
.wlcRight:before{content: ""; width: 1px; height: 255px; position: absolute; top: 0;left: -20px; background: #CECECE}
.wlcRight img, .wlcRight p{display: inline-block;vertical-align: top;}
.wlcRight img.img1 {position: absolute;max-width: 275px; width:45%;z-index: 2; top: 0;left:7px}
.wlcRight p{width: 47%;margin: 0 auto;text-align: left; margin-left: 280px;}
.wlcRightBot{position: relative;background: #041690; color: #fff; padding: 20px;z-index: 1; margin-top: 35px;}
.wlcRightBot img{max-width: unset; width: unset;margin-left: 250px;}
.wlcRightBot p{width: unset;font-size: 26px; font-weight: bold;margin-left: 10px;letter-spacing: 5px}
.wlcRightBot img, .wlcRightBot p{display: inline-block; vertical-align: middle;}
.wlcRight p.followUs{font-family: "Lato"; font-size: 14px; margin-top: 10px;}
.wlcRight p span .socialMed{display: inline-block;vertical-align: middle;font-size: 50px; color: #041390;}

/* our service section */
#our-service-section{background:url(../images/content/bg2.png)no-repeat center top; background-size: 1440px 100%; margin-top: -60px;z-index: 1;padding: 80px 0 0;}
#our-service-section .row{max-width: 1000px}
#our-service-section h2{font-weight: bold; font-size: 47px; color: #fff}
.svc-panel-images {position: relative;    margin-bottom: -113px;}
.svc-images{position: relative;display: inline-block; vertical-align: top;width: 49%;margin: 10px 0;}
.svc-images img{max-width: 470px; width: 100%; margin: 0 auto;}
.svc-details{position: absolute;top: 0; left: 15px;text-align: left;}
.svc-details p{font-weight: bold;color: #fff; font-size: 25px}

/* service-bottom-section */
#service-bottom-section{background: url(../images/content/bg3.jpg)no-repeat center top; background-size: 1440px 100%; padding: 145px 0 90px;}
#service-bottom-section .inb{display: inline-block; vertical-align:top;}
.sbsLeft{max-width: 570px; width: 100%;text-align: left;}
.sbsLeft h3{font-size: 35px; font-weight: 700; color: #041690;}
.sbsLeft ul{list-style: square inside url('../images/content/list-style.png');padding: 0 0 0 5px;margin: 0 auto;line-height: 30px}
.sbsLeft .phone img, .sbsLeft .phone p{display: inline-block;vertical-align: middle;}
.sbsLeft .phone p{font-size: 24px; font-weight: bold; color: #041390;margin-left: 10px;}
.sbsRight{max-width: 380px; width: 100%;}
.sbsRight .viewMore{position: relative;display: inline-block; vertical-align: top; max-width: 175px; width: 100%;height: auto;margin: 6px;}
.sbsRight .viewMore .btn2{position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%);width: 90px;}

#contact-section{background: url(../images/content/bg4.png)no-repeat center top; background-size: 1440px 100%; padding: 80px 0 0;margin-top: -51px;}
#contact-section .inb{display: inline-block;vertical-align: top;width: 49%;color: #fff}
#contact-section h2{font-size: 47px; font-weight: bold; color: #fff; margin-bottom: 40px;}
.csLeft{text-align: left;}
.csLeft .contact-info img, .csLeft .contact-info p{display: inline-block; vertical-align: middle;}
.csLeft .contact-info p{margin-left: 20px;font-weight: bold; font-size: 16px; margin: 20px auto;}
.csLeft .contact-info p.phone{font-size: 27px; letter-spacing: 5px}
.csRight .ctc-form input[type="text"]::placeholder, .ctc-form textarea::placeholder{font-size: 15px; color: #000; text-transform: uppercase;font-family: "Titillium Web"}
.csRight .ctc-form input[type="text"]{height:39px}
.csRight .ctc-form textarea{height: 96px;}

/* accreditation-section */
#accreditation-section{background: url(../images/content/bg5.jpg)no-repeat center top; background-size: 1440px 100%; padding: 30px;}
#accreditation-section h4{font-weight: bold; font-size: 20px; color:#041590 }
#accreditation-section img{display: inline-block;vertical-align: middle;margin: 20px 30px;}
.wing img, .wing p{display: inline-block;vertical-align: middle;margin: 0 auto !important;font-size: 45px; font-weight: bold; color:#041590;}
/*footer*/
#footer {max-width: 1440px; margin: 0 auto;}
#footer nav ul {margin: 0;padding: 0}
#footer nav ul li {display: inline-block;vertical-align: middle;padding: 22px 39px;}
#footer nav ul li:nth-child(1) {padding-left: 0;}
#footer nav ul li:nth-child(7){padding-right: 0;}
#footer nav ul li a {font-family: "Titillium Web"; font-weight: bold;font-size: 16px; color: #fff;}
#footer nav ul li.active-menu a, #footer nav ul li a:hover {color:#fff;}
.footTop{background: #041690}
.footBot{background-color: #000}
#footer .copy, #footer .silver{font-family: Arial; font-size: 13px; color: #fff; margin: 0 auto;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}

.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}
